<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="advisor-static">
        <div class=" first-page">

            <div class="first-page-content col-md-9 col-lg-9 mx-auto">
                <h1 class="main-heading">
                    <span>
                        Webová aplikace<br>
                        pro odhalení vlastního <br>
                        potenciálu a nadání
                    </span>
                </h1>
                <p class="main-text col-lg-10 col-md-10 mx-auto">
                    Online webová aplikace pro odhalování silných stránek a nastavení cest budoucího směřování. Studenti a žáci mohou výsledky využít pro rozhodování o škole, či budoucím povolání.
                </p>

                <a class="btn btn-primary login-button" href="#" role="button">Přihlásit se do aplikace</a><br>
                <a class="btn learn-more" href="#">Zjistit více o aplikaci  ></a>
            </div>

        </div>

        <div class="cards-row">
            Už víte o našich Rozvojových a Koučovacích kartách? Již nyní můžete objednávat na našem e-shopu! >

        </div>
        <div class="row col-md-9 col-lg-9 mx-auto objevte-nadani">
            <h2 class="objevte-nadani-heading">Objevte svá nadání a potenciál</h2>
            <span class="nadani-text ">Máte unikátní možnost otestovat a hledat vlastní potenciál (nadání) a zjištěné informace využít např. při svém budoucím směřování. V pohodlí domova, můžete přemýšlet o svých silných stránkách (nadáních, potenciálech) a hledat na základě profesionálně vedené on-line konzultace správné uplatnění např. při volbě povolání či dalších studiích. Celý koncept je postaven na teorii Gardnerovy mnohočetné inteligence. </span>
        </div>

        <div class="row col-lg-10 col-md-10 mx-auto advisor-screen align-items-center">
            <div class="col-md-2 col-lg-2 nahled-text ">
                <p class="nahled-desc r text-sm-right">
                    Každý má svá nadání
                </p>
                <p class="nahled-desc r text-sm-right">
                    V oblasti kariérového
                    poradenství se inspirujeme
                    v zahraničí
                </p>
                <p class="nahled-desc r text-sm-right">
                    Online prostředí je atraktivní
                    pro současnou generaci
                </p>

            </div>
            <div class="col-md-6 col-lg-6 nahled-img">

            </div>
            <div class="col-md-2 col-lg-2 nahled-text">
                <p class="nahled-desc text-sm-left">
                    IQ neukazuje míru úspěchu
                    člověka v životě
                </p>
                <p class="nahled-desc text-sm-left">
                    Sebeevaluace je stejně
                    hodnotná, jako diagnostika
                </p>
                <p class="nahled-desc text-sm-left">
                    Sebeevaluace je stejně
                    hodnotná, jako diagnostika
                </p>

            </div>
        </div>
        <h3 class="in-the-app">CO V APLIKACI NAJDETE</h3>
        <div class="row col-md-10 col-lg-10 mx-auto">

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/Profile2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">MŮJ PROFIL</h4>
                    <span class="content-text">Vstupní zamyšlení nad sebou, které nám pomůže naladit se na sebeuvědomování svého potenciálu, nadání.</span>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/talents2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">MÉ TALENTY A NADÁNÍ</h4>
                    <span class="content-text">
                        Postupně si projdete vybrané projevy nadání a hledáte ty, které jsou Vám blízké
                        a také ty, se kterými se neztotožňujete.
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/actionsteps2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">AKČNÍ KROKY</h4>
                    <span class="content-text">Zapíšete si do akčního plánu své nápady na svůj další postup, abyste nastartovali svůj posun k perspektivní budoucnosti.</span>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/carrer2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">KARIÉROVÉ OBLASTI</h4>
                    <span class="content-text">Nadání, silné stránky můžeme zúročit ve své budoucí profesi. Aplikace Vám nabídne možnosti kariérových oblastí, kde budou Vaše silné stránky užitečné.</span>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/funfacts2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">FUN FACTS</h4>
                    <span class="content-text">
                        Objevují se jako odměna za Vaši píli. Po vyplnění jednotlivých částí aplikace se Vám objeví. Fun facts celou aplikaci obohacují informacemi a také trochou humoru.
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 in-the-app-content">
                <div class="head-img" style="background-image: url(../../Content/Assets/results2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">VAŠE VÝSLEDKY</h4>
                    <span class="content-text">
                        Všechny Vaše výsledky a srovnání jsou zároveň zaslány na Váš email, abyste si je mohli v klidu projít. Můžete poté v aplikaci cokoliv doplnit začít úplně od začátku.

                    </span>
                </div>
            </div>

        </div>
        <div class="row col-lg-9 col-md-9 mx-auto">
            <h2 class="target-group col">Pro koho je aplikace vhodná</h2>
            <span class="general-text ">Regio Advisor je určen pro 7.,8. a 9. ročníky základních škol a 2.,3. a 4. ročníky středních škol a pro všechny, kteří stavět svůj budoucí rozvoj na svých silných stránkách.</span>
        </div>


        <div class="row equal col-lg-10 col-md-10 people-description mx-auto">

            <div class="col types-description">
                <div class="head-img" style="background-image: url(../../Content/Assets/singles2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">Jednotlivci</h4>
                    <p>Začnete o sobě přemýšlet v kontextu svých silných stránek</p>
                    <p>Nastavíte si profesní preference</p>
                    <p>Ujasníte si pracovní hodnoty</p>
                    <p>Nastavíte si akční plán svého budoucího rozvoje</p>
                    <p>Vše máte na jednom místě v podrobném reportu</p>
                    <br />

                </div>


                <div class="button-wrap">
                    <p style="color:#40BE65; text-align:left;">
                        * Nejsem studentem školy,<br />
                        která má licenci
                    </p>
                    <a class="btn outline-button animated">
                        Chci se registrovat
                    </a>
                </div>
            </div>

            <div class="col types-description">
                <div class="head-img" style="background-image: url(../../Content/Assets/schools2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">Pro školy (žáci / učitelé)</h4>
                    <p>Získáte přehled o silných stránkách žáků a jejich preferencích v kariérních oblastech</p>
                    <p>Můžete zaměřit výuku na rozvoj potenciálu žáků</p>
                    <p>Můžete žákům poskytovat kariérové poradenství</p>




                </div>

                <div class="button-wrap">
                    <p style="color:#40BE65; text-align:left;line-height: 3em;">
                        *Jsem student školy, která má licenci
                    </p>
                    <a class="btn fill-button short-sides">
                        Chci se registrovat přes školu
                    </a>
                </div>
            </div>

            <div class="col types-description">
                <div class="head-img" style="background-image: url(../../Content/Assets/helpers2x.png)">

                </div>
                <div class="content-description">
                    <h4 class="content-heading">Kariéroví poradci</h4>
                    <p>Získáte přehled o silných stránkách klientů a jejich preferencích v kariérních oblastech</p>
                    <p>Budete mít podklady pro individuální práci s klientem</p>
                    <br />

                </div>
                <div class="button-wrap">
                    <p class="placeholder" style="color:transparent; text-align:left;line-height: 3em;">placeholder</p>

                    <a class="btn outline-button animated">
                        Chci se registrovat
                    </a>
                </div>

            </div>

        </div>

        <div class="row col-lg-10 col-md-10 mx-auto">
            <h2 class="prices w-100 text-center general-header">Ceny jednotlivých balíčků</h2>
            <span class="w-100 general-text text-center">
                Při výběru počtu licencí, uvedeného v jednotlivých balíčcích, zohledněte<br />
                Váš počet žáků v daných ročnících.
            </span>
            <div class="radio-wrap btn text-center w-100">
                <a class="radio-like left">Pro jednotlivce</a>
                <a class="radio-like right highlited">Pro školy</a>
            </div>
            <div class="row col-lg-12 col-md-12 mx-auto">
                <div class="flip-container" style="width:100%" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <div class="row col-lg-12 col-md-12 mx-auto for-schools">
                                <h4 class="package-conains-header w-100">BALÍČEK PRO ŠKOLY OBSAHUJE</h4>
                                <div class="col mx-2 contains-content">
                                    <table class="table table-bordered ">
                                        <tbody>

                                            <tr>
                                                <td>Určitý počet licencí v závislosti na vybraném balíčku</td>
                                            </tr>
                                            <tr>
                                                <td>Stručný report silných stránek a doporučených kariérních oblastí</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Podrobný report silných stránek a doporučených kariérních
                                                    oblastí dle podrobných kategorií
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Akční plán</td>
                                            </tr>
                                            <tr>
                                                <td>Výběr nadání dle vlastní intuice</td>
                                            </tr>


                                        </tbody>
                                    </table>

                                </div>
                                <div class="col mx-2 contains-content">
                                    <table class="table table-bordered ">
                                        <tbody>

                                            <tr>
                                                <td>Žebříček pracovních hodnot</td>
                                            </tr>
                                            <tr>
                                                <td>Manuál práce s Regio Advisor</td>
                                            </tr>
                                            <tr>
                                                <td>Možnost účasti na školení 1x ročně v Ostravě</td>
                                            </tr>
                                            <tr>
                                                <td>Nabídku výukových stylů podle inteligencí.</td>
                                            </tr>
                                            <tr>
                                                <td>Karty inteligencí - 1x sada</td>
                                            </tr>
                                            <tr>
                                                <td>Karty pracovních hodnot  - 1x sada</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="back">
                            <div class="row col-lg-12 col-md-12 mx-auto">
                                <h4 class="package-conains-header w-100">BALÍČEK PRO JEDNOTLIVCE OBSAHUJE</h4>

                                <div class="col mx-2 contains-content single">
                                    <table class="table table-bordered">
                                        <tbody>

                                            <tr>
                                                <td>Licenci platnou 48hodin</td>
                                            </tr>
                                            <tr>
                                                <td>2 resety účtu</td>
                                            </tr>
                                            <tr>
                                                <td>Stručný report silných stránek a doporučených kariérních oblastí pro jednotlivce </td>
                                            </tr>
                                            <tr>
                                                <td>Podrobný report silných stránek a doporučených kariérních oblastí pro jednotlivce dle podrobných kategorií</td>
                                            </tr>
                                            <tr>
                                                <td>  Výběr nadání dle vlastní intuice</td>
                                            </tr>
                                            <tr>
                                                <td>Akční plán</td>
                                            </tr>
                                            <tr>
                                                <td>Žebříček pracovních hodnot</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                                <div class="col mx-2">
                                    <h1>jsem kokot</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <h3 class="licences-amount">KOLIK LICENCÍ PRO VAŠI ŠKOLU POTŘEBUJETE?</h3>
        <div class="price-list col-lg-10 col-md-10 row mx-auto">

            <div class="col-sm-12 col-lg-3 single-price-card">
                <div class="wrapper">
                    <div class="price-card-header-wrap">
                        <h5 class="price-card-header">RA BALÍČEK MINI</h5>
                    </div>
                    <div class="price-card-wrapper">
                        <p class="price-card-number"> 7000 KČ</p>
                        <p class="price-card-school-year"> školní rok</p>

                    </div>

                    <p class="price-card-licences"> 90 licencí do 31.8. 2019</p>
                    <p class="basic-text price-card-resets">neomezený počet resetů</p>
                    <a href="#" class="price-card-button btn">Objednat licenci</a>

                </div>
            </div>
            <div class="col-sm-12 col-lg-3 single-price-card">
                <div class="wrapper">

                    <p class="best-seller">Nejprodávanější</p>
                    <div style="border-radius:0" class="price-card-header-wrap">
                        <h5 class="price-card-header">RA BALÍČEK MEDIUM</h5>
                    </div>
                    <div class="price-card-wrapper">
                        <p class="price-card-number"> 10 000 Kč</p>
                        <p class="price-card-school-year"> školní rok</p>

                    </div>

                    <p class="price-card-licences">150 licencí do 31.8. 2019</p>
                    <p class="basic-text price-card-resets">neomezený počet resetů</p>
                    <a href="#" class="price-card-button btn">Objednat licenci</a>

                </div>
            </div>
            <div class=" col-sm-12 col-lg-3 single-price-card">
                <div class="wrapper">

                    <div class="price-card-header-wrap">
                        <h5 class="price-card-header">RA BALÍČEK LARGE</h5>
                    </div>
                    <div class="price-card-wrapper">
                        <p class="price-card-number"> 15 800 Kč</p>
                        <p class="price-card-school-year"> školní rok</p>

                    </div>

                    <p class="price-card-licences"> 300 licencí do 31.8. 2019</p>
                    <p class="basic-text price-card-resets">neomezený počet resetů</p>
                    <a href="#" class="price-card-button btn">Objednat licenci</a>

                </div>
            </div>
            <div class="col-sm-12 col-lg-3 single-price-card">
                <div class="wrapper">
                    <div class="price-card-header-wrap">
                        <h5 class="price-card-header">RA BALÍČEK EXTRA LARGE</h5>
                    </div>
                    <div class="price-card-wrapper">
                        <p class="price-card-number">23 000 Kč</p>
                        <p class="price-card-school-year"> školní rok</p>

                    </div>

                    <p class="price-card-licences"> 500 licencí do 31.8. 2019</p>
                    <p class="basic-text price-card-resets">neomezený počet resetů</p>
                    <a href="#" class="price-card-button btn">Objednat licenci</a>

                </div>
            </div>
            </div>

        <div class="row col-lg-10 col-md-10 ostrava-free mx-auto">
            <div class="d-inline-block">
                <span class="for-ostrava">
                    Akce pro Ostravské školy
                </span>
                <h2 class="ostrava-package">RA BALÍČEK ZDARMA!</h2>
                <h3 class="unlimited-licences">Balíček obsahuje neomezený počet licencí.</h3>
                <h4 class="not-included">* V tomto balíčku nejsou zahrnuty <a href="#" class="cards">karty inteligencí</a> ani <a href="#" class="cards"> karty pracovních hodnot</a></h4>
                <a class="btn fill-button limited-offer">Chci využít limitovanou nabídku</a>
            </div>
        </div>
    </div>
    <script>

        $('a.radio-like').on('click', function () {
            $('.flipper').toggleClass('flipped');
            $('a.radio-like').each(function (i, e) {
                $(e).toggleClass('highlited');
                console.log(e)

            });


        });

        $(document).ready(function () {
            $('.flip-container').css('height', $('.contains-content.single').first().outerHeight(true));
        });
    </script>

</body>
</html>
